<section class="py-3 header text-center">
    <div class="container text-white">
        <header class="row">
            <div class="col-xl">
                <h3 class="display-4 mb-1 py-2"><u>Hello, <small class="text-muted">I'm Jayson Scruggs</small></u></h3>
                <div class="ms-2">
                    <p class="font-italic mb-1 lead">
                        I am a Software Engineer with a love for the human experience. After graduating college I
                        began working in a fast paced retail environment. I quickly realized the programming languages
                        I'd
                        been
                        equip with during my education didn't fill the need for flexibility, and rapid turnarounds.
                        Thus, my
                        love of
                        Python was born.
                    </p>
                </div>
            </div>
            <div class="col-md">
                <img id='profile' class="img-thumbnail" src="{{ url_for('static', filename='images/profile.jpg') }}">
            </div>

        </header>
    </div>
</section>


<header class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
        <div class="container"><a class="navbar-brand" href="#">
                <strong class="h6 mb-0 font-weight-bold text-uppercase">About Me</strong></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="#">Home <span
                                class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>